@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://i.pinimg.com/736x/17/75/b6/1775b615718992ee092cb93102190b09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(20,70,121);
}
.hero{
    background-color: rgba(255, 255, 255, 0.853);
}
.navbar{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
}
.logo p{
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-weight: 600;
}
.logo span{
    color: rgb(218, 128, 11);
    font-family: 'Courgette', cursive;
}
.menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.menu p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(20,70,121);
}
.menu p:nth-child(1){
    border: none;
}
.active p{
    color: rgb(218, 128, 11);
}
.menu p:hover{
    color: rgb(218, 128, 11);
}
.menu i{
    font-size: 20px;
    display: none;
}
.profile{
    display: flex;
    column-gap: 10px;
}
.profile img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.about{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 5%;
    padding-bottom: 5%;
}
.about h1{
    font-weight: 800;
    font-size: 40px;
}
.about p{
    width: 80%;
    font-weight: 500;
    line-height: 25px;
    margin-top: 10px;
}
.expectations h2{
    font-size: 22px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 10px;
    width: 100%;
}
.expectations h2{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.expectations p{
    padding: 2%;
    width: 14.4%;
    height: fit-content;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(135, 207, 235, 0.474);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.expectations p:nth-child(2){
    background-color: rgba(218, 128, 11, 0.35);
}
.expectations p:nth-child(4){
    background-color: rgba(218, 128, 11, 0.35);
}
.expectations button{
    background-color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    border: 2ps solid white;
}
.expectations button:hover{
    cursor: pointer;
    border: 2px solid rgb(20,70,121);
}
.expectations a{
    text-decoration: none;
    color: rgb(20,70,121);
    font-weight: 700;
}
.questions{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin-bottom: 60px;
}
.questions h1{
    font-size: 25px;
}
.questions h4{
    display: flex;
    justify-content: space-between;
}
.questions h4 span{
    font-size: 20px;
}
.total__wrp{
    display: flex;
    column-gap: 2%;
    row-gap: 2%;
    flex-wrap: wrap;
    width: 100%;
}
.wrapper{
    width: 44%;
    height: fit-content;
    border: 1px solid rgba(20, 71, 121, 0.797);
    border-radius: 10px;
    padding: 1% 2%;
    margin-top: 10px;
}
.wrapper h4{
    font-size: 16px;
    width: 100%;
}
.wrapper:nth-child(5) span{
    font-size: 15px;
}
.wrapper span:hover{
    cursor: pointer;
}
.wrapper p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    width: 100%;
}
.subscribe{
    background-color: rgb(20,70,121);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 16px;
    font-weight: 400;
    padding: 3% 5%;
}
.subscribe input{
    width: 35%;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 5px;
    border: none;
}
.subscribe button{
    border: none;
    background-color: rgb(218, 128, 11);
    padding: 4px 14px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 25px;
    width: 10%;
}
.subscribe button:hover{
    background-color: rgb(3, 28, 53);
    transition: 500ms;
}
@media (max-width:1000px){
    .about h1{
        font-size: 38px;
    }
    .about p{
        font-size: 15px !important;
        width: 80% !important;
    }
    .expectations p{
        width: 20% !important;
        font-size: 16px !important;
    }
    .subscribe{
        font-size: 15px;
    }
    button{
        font-size: 12px;
        padding: 4px 12px;
    }
}
@media (max-width:750px){
    .about h1{
        font-size: 38px;
    }
    .about p{
        font-size: 15px !important;
        width: 80% !important;
    }
    .menu p{
        display: none;
    }
    .menu i{
        display: flex;
    }
    .profile p{
        display: flex;
    }
    .expectations p{
        width: 45% !important;
        font-size: 15px !important;
    }
    .questions h1{
        font-size: 25px;
    }
    .subscribe{
        font-size: 15px;
    }
    button{
        font-size: 12px;
        padding: 4px 12px;
    }
}
@media (max-width:500px){
    .about h1{
        font-size: 34px;
    }
    .about p{
        font-size: 14px !important;
        width: 90% !important;
    }
    .expectations p{
        width: 100% !important;
        font-size: 14px !important;
    }
    .questions h1{
        font-size: 25px;
    }
    .wrapper{
        width: 100%;
    }
    .subscribe{
        font-size: 11px;
        display: flex;
    }
}
@media (max-width:400px){
    
    .logo p{
        font-size: 15px;
    }
    .profile p{
        font-size: 12px;
    }
    .about h1{
        font-size: 23px;
        width: 97%;
        font-weight: 800;
    }
    .about p{
        font-size: 13px;
        width: 100% !important;
    }
    .menu i{
        padding-left: 10px;
    }
    .expectations{
        display: flex;
        flex-direction: column;
        padding: 13px 0;
        margin-bottom: 30px;
    }
    .expectations p{
        font-size: 13px;
    }
    .text{   
        row-gap: 5px;
    }
    .subscribe{
        font-size: 11px;
        display: flex;
        row-gap: 5px;
    }
}