@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(231, 231, 231);
    color: rgb(20,70,121);
}

.navbar{
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3%;
    
}
.logo p{
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-weight: 600;
}
.logo span{
    color: rgb(218, 128, 11);
    font-family: 'Courgette', cursive;
}
.menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.menu p{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.menu p:hover{
    color: rgb(218, 128, 11);
}
.menu i{
    font-size: 20px;
    display: none;
}
.profile{
    display: flex;
    column-gap: 10px;
}
.profile p{
    color: rgb(218, 128, 11);
}
.profile img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


.wrapper{
    padding: 2%;
    display: flex;
    column-gap: 20px;
    height: 0;
}
.left__wrp{
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profile__wrp{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 10px;
}
.profile__name{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 70%;
}
.profile__name h4:hover{
    cursor: pointer;
}
.profile__wrp p{
    font-size: 13px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}
.profile__wrp img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.dashboard{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    padding-bottom: 100px;
    height: auto;
}
.active{
    font-size: 14px;
    font-weight: 600;
    color: rgb(218, 128, 11);
}
.dashboard a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(20,70,121);
    display: flex;
}
.dashboard a:hover{
    color: rgb(218, 128, 11);
}
.dashboard i{
    color: rgb(20,70,121) ;
}
.dashboard i:hover{
    color: rgb(218, 128, 11);
}
.dashboard a:hover{
    color: rgb(218, 128, 11);
}
.dashboard .active{
    display: flex;
}


.middle__wrp{
    width: 52%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.post{
    width: 100%;
    padding: 25px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 14px;
    font-weight: 600;
}
.post__wrp div{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.post__wrp i{
    font-size: 20px;
}
.photo i{
    color: dodgerblue;
}
.video i{
    color: rgb(4, 67, 4);
}
.event i{
    color: rgb(200, 83, 10);
}
.news i{
    color: rgb(200, 83, 10);
}
.image{
    display: flex;
    column-gap: 20px;
}
.image img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}
.image input{
    width: 100%;
    border-radius: 25px;
    border: 1px solid gray;
    padding-left: 15px;
}
.post__wrp{
    display: flex;
    justify-content: space-between;
}
.post__content{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.post__content p{
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.content__wrp{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.info img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.info p{
    font-size: 13px;
}
.deer__image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.like__wrp{
    display: flex;
    justify-content: space-around;
}
hr{
    border: 1px solid rgb(223, 223, 223);
}
.like__wrp div{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.like__wrp p{
    font-size: 13px;
}
.like__wrp i{
    font-size: 20px;
}


.right__wrp{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 50px;
}
.trending{
    background-color: rgba(188, 218, 230, 0.782);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 25px;
}
.places{
    display: flex;
    column-gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(174, 174, 174);
}
.places:nth-child(4){
    border: none;
}
.places img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.place__name p{
    font-size: 12px;
    color: gray;
    font-weight: 600;
}
.facts__wrp{
    background-color: rgba(237, 237, 192, 0.813);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px;
}
.facts{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-bottom: 20px;
}
ul{
    padding-left: 25px;
}
.facts:nth-child(2){
    border: none;
}
.facts p{
    font-size: 12px;
    color: gray;
    font-weight: 600;
}

@media (max-width:750px){
    .menu p{
        display: none;
    }
    .menu i{
        display: flex;
    }
    .profile p{
        display: flex;
    }
    .right__wrp{
        display: none;
    }
    .left__wrp{
        width: 25%;
    }
    .middle__wrp{
        width: 65%;
    }
}
@media (max-width:600px){
    .left__wrp{
        width: 20%;
    }
    .left__wrp p{
        display: none;
    }
    .active p{
        display: none;
    }
    .profile__name h4{
        font-size: 13px;
    }
    .post__wrp p{
        display: none;
    }
    .dashboard i{
        font-size: 20px;
    }
    .info img{
        width: 40px;
        height: 40px;
    }
    .info h4{
        font-size: 15px;
    }
    .info p{
        font-size: 12px;
    }
    .text p{
        font-size: 13px;
    }
    .like__wrp i{
        font-size: 15px;
    }
}
@media (max-width:400px){
    .logo p{
        font-size: 15px;
    }
    .wrapper{
        column-gap: 15px;
    }
    .middle__wrp{
        row-gap: 15px;
    }
    .left__wrp{
        width: 15%;
    }
    .left__wrp h4{
        display: none;
    }
    .left__wrp img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
}