@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://s3.amazonaws.com/static-asset/op-video-sync/assets/exploreeveryday_masthead2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero{
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
}
.logo p{
    font-size: 20px;
    color: white;
    font-family: 'Courgette', cursive;
    font-weight: 600;
}
.logo span{
    color: rgb(218, 128, 11);
    font-family: 'Courgette', cursive;
}
.menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.menu p{
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.active p{
    color: rgb(218, 128, 11);
}
.menu p:hover{
    color: rgb(218, 128, 11);
}
.menu i{
    font-size: 20px;
    display: none;
}
.profile{
    display: flex;
    column-gap: 10px;
}
.profile img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.welcome{
    width: 100%;
    height: 90vh;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.welcome h1{
    font-size: 45px;
    font-weight: 900;
    width: 50%;
    border: 2px solid rgb(218, 128, 11);
    border-radius: 10px;
    background-color: rgb(190, 113, 11);
}
.welcome p{
    color: white;
    text-align: center;
    width: 40%;
    font-size: 20px;
}
.login{
    margin-top: 30px;
}
.welcome a{
    text-decoration: none;
    color: white;
    padding: 8px 11px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.705);
}
.welcome a:hover{
    background-color: black;
    transition: 500ms;
}
@media (max-width:1000px){
    .welcome h1{
        font-size: 38px;
        width: 70%;
    }
    .welcome p{
        font-size: 18px;
        width: 50%;
    }
}
@media (max-width:750px){
    .welcome h1{
        font-size: 35px;
        width: 70%;
    }
    .welcome p{
        font-size: 18px;
        width: 60%;
    }
    .menu p{
        display: none;
    }
    .menu i{
        display: flex;
    }
    .profile p{
        display: flex;
    }
}
@media (max-width:500px){
    .logo p{
        font-size: 15px;
    }
    .welcome h1{
        font-size: 28px;
        width: 80%;
        font-weight: 800;
    }
    .welcome p{
        font-size: 14px;
        width: 70%;
    }
}
@media (max-width:400px){
    .logo img{
        width: 80px;
    }
    .profile p{
        font-size: 12px;
    }
    .welcome h1{
        font-size: 23px;
        width: 97%;
        font-weight: 800;
    }
    .welcome p{
        font-size: 13px;
        width: 85%;
    }
    .menu i{
        padding-left: 10px;
    }
}