@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(231, 231, 231);
    color: rgb(20,70,121);
}

.navbar{
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 3%;
    
}
.logo p{
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-weight: 600;
}
.logo span{
    color: rgb(218, 128, 11);
    font-family: 'Courgette', cursive;
}
.menu{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.menu a{
    text-decoration: none;
}
.menu p{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.menu p:hover{
    color: rgb(218, 128, 11);
}
.menu i{
    font-size: 20px;
    display: none;
}
.profile{
    display: flex;
    column-gap: 10px;
}
.profile p{
    color: rgb(218, 128, 11);
}
.profile img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


.wrapper{
    padding: 2%;
    display: flex;
    column-gap: 20px;
    height: 0;
}
.left__wrp{
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profile__wrp{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    border-radius: 10px;
}
.profile__name{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 70%;
}
.profile__name h4:hover{
    cursor: pointer;
}
.profile__wrp p{
    font-size: 13px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}
.profile__wrp img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.dashboard{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px;
    padding-bottom: 100px;
    height: auto;
}
.active{
    font-size: 14px;
    font-weight: 600;
    color: rgb(218, 128, 11);
}
.dashboard a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(20,70,121);
    display: flex;
}
.dashboard a:hover{
    color: rgb(218, 128, 11);
}
.dashboard i{
    color: rgb(20,70,121) ;
}
.dashboard i:hover{
    color: rgb(218, 128, 11);
}
.dashboard a:hover{
    color: rgb(218, 128, 11);
}
.dashboard .active{
    display: flex;
}

.right__wrp{
    width: 80%;
}
.message__wrapper{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.head{
    display: flex;
    width: 93%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
hr{
    border: 1px solid rgba(196, 196, 196, 0.844);
}

button{
    background-color: white;
    color: rgb(20,70,121);
    font-weight: 700;
    font-size: 16px;
    border: 2px solid rgb(182, 182, 182);
    padding: 7px 18px;
    border-radius: 25px;
}
button:hover{
    background-color: rgb(20,70,121);
    color: white;
    border: 1px solid rgb(20,70,121);
    cursor: pointer;
}

.head button span{
    color: rgb(9, 188, 9);
    font-size: 24px;
}
.people{
    display: flex;
    padding: 5px 0;
    column-gap: 20px;
    align-items: center;
}
.picture{
    position: relative;
}
.picture img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    object-fit: cover;
}
.picture i{
    position: absolute;
    font-size: 14px;
    color: green;
    right: 5px;
    bottom: 5px;
}
.name__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    text-decoration: none;
}
.name__wrp{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.name__wrp p{
    font-size: 14px;
    color: gray;
    font-weight: 600;
}
.name__wrp h4{
    font-size: 17px;
}
.name__wrapper a{
    text-decoration: none;
}

@media (max-width:750px){
    .menu p{
        display: none;
    }
    .menu i{
        display: flex;
    }
    .profile p{
        display: flex;
    }
    .left__wrp{
        width: 25%;
    }
}
@media (max-width:600px){
    .left__wrp{
        width: 17%;
    }
    .left__wrp p{
        display: none;
    }
    .active p{
        display: none;
    }
    .profile__name h4{
        font-size: 13px;
    }
    .post__wrp p{
        display: none;
    }
    .dashboard i{
        font-size: 20px;
    }
    .info img{
        width: 40px;
        height: 40px;
    }
    .info p{
        font-size: 12px;
    }
    .head h1{
        font-size: 20px;
    }
    .name__wrp h4{
        font-size: 16px;
    }
    .name__wrp p{
        font-size: 12px;
    }
    button{
        font-size: 12px;
        font-weight: 600;
    }
    .head button{
        font-size: 12px;
        font-weight: 600;
    }
    .head button span{
        font-size: 14px;
        font-weight: 800;
    }
}
@media (max-width:450px){
    .logo p{
        font-size: 15px;
    }
    .wrapper{
        column-gap: 15px;
    }
    .middle__wrp{
        row-gap: 15px;
    }
    .left__wrp{
        width: 14%;
    }
    .left__wrp h4{
        display: none;
    }
    .left__wrp img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .profile__name h4{
        font-size: 13px;
    }
    .name__wrp h4{
        font-size: 14px;
    }
    .name__wrp p{
        font-size: 11px;
    }
    button{
        padding:3px 10px;
        font-size: 10px;
    }
    .picture img{
        height: 40px;
        width: 40px;
    }
}